<%= form_for(@line) do |f| %>
<% if @line.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

  <ul>
    <% @line.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :nombre %><br>
  <%= f.text_field :nombre %>
</div>
<div class="field">
  <%= f.label :descripcion %><br>
  <%= f.text_field :descripcion %>
</div>
<div class="field">
 <%= f.label :municipio %><br />
 <%= collection_select(:line, :municipio_id, Municipio.all, :id, :nombre, {:prompt => false}) %> 
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
