<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @line.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @line.descripcion %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
