<div class="row text-center">
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_dependencies_path, image_path: 'inspecciones.png', label: 'Dependencias' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_lines_path, image_path: 'inspecciones.png', label: 'Giros' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_formation_steps_path, image_path: 'inspecciones.png', label: 'Trámites de apertura' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_requirements_path, image_path: 'inspecciones.png', label: 'Requerimientos' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_procedures_path, image_path: 'inspecciones.png', label: 'Trámites' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_inspections_path, image_path: 'inspecciones.png', label: 'Inspecciones' %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_inspectors_path, image_path: 'inspecciones.png', label: 'Inspectores' %>
  </div>
</div>
