<div class="row text-center">
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_inspections_path, image_path: 'inspecciones.png', label: 'Inspecciones' %>
  </div>

  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: new_dashboard_inspector_path, image_path: 'inspecciones.png', label: 'Inspectores' %>
  </div>

  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: new_dashboard_inspector_path, image_path: 'inspecciones.png', label: 'Trámites' %>
  </div>

  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: new_dashboard_inspector_path, image_path: 'inspecciones.png', label: 'Dependencias' %>
  </div>

  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: new_dashboard_inspector_path, image_path: 'inspecciones.png', label: 'Procedimientos' %>
  </div>

  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: new_dashboard_inspector_path, image_path: 'inspecciones.png', label: 'Requerimientos' %>
  </div>
</div>
