<div class="row text-center texto-negro-wrap">
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_dependencies_path, image_path: 'inspecciones.png', label: t('.dependencias') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_lines_path, image_path: 'inspecciones.png', label: t('.giros') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_formation_steps_path, image_path: 'inspecciones.png', label: t('.apertura') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_requirements_path, image_path: 'inspecciones.png', label: t('.requerimientos') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_procedures_path, image_path: 'inspecciones.png', label: t('.tramites') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_inspections_path, image_path: 'inspecciones.png', label: t('.inspecciones') %>
  </div>
  <div class="col-sm-12 col-sm-6 col-md-4">
    <%= render 'shared/image_link', link_path: dashboard_inspectors_path, image_path: 'inspecciones.png', label: t('.inspectores') %>
  </div>
</div>
