<%= form_for :post, :url => { :controller => :municipios, :action => :nuevo_negocio } do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="input-group">
					<div class="input-group-addon">
						<H3><%=f.label '¿Iniciaras un nuevo negocio?' %></H3>
						<BR>
						<%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
						</br>
							<H3><%=f.label '¿Qué tipo de persona eres?' %></H3>
						<br>
						<div class= "field">
					    <%tipos = {'Físico' => 'TF', 'Moral' => 'TM'}%>
					      <%=  radio_button_tag :rating, 'TF', @tipo=='TF' %>Fisica
					      <%=  radio_button_tag :rating, 'TM', @tipo=='TM'%>Moral
					  	</div>
			  			<br>
					</div>
				</div>
			  <br>
				<%= f.submit 'Aceptar', :class => 'btn btn-lg btn-light' %>
			</div>
		</div>
	</div>
	
	<!--seccion paso a paso -->
 <% unless @line.nil? %>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                    		<% @requirements.each_with_index do |requirement,index| %>
                    		 <%if index%2 == 0 %>
                            	<li>
                            <%else %>
                            	<li class="timeline-inverted">
                            <%end %>
                        	<div class="timeline-image">
                            	<%= image_tag "1.jpg", class: "img-circle img-responsive" %>
                            </div>
               	 			<div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tramite <%=index + 1%></h4>
                                    <h4 class="subheading"> <%= requirement.nombre %></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= requirement.descripcion %></p>
                                </div>
                            </div>
                        </li>
                        <% end %>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Ya 
                                    <br>tienes tu
                                    <br>empresa</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
	<% end %>
		<!--termina paso a paso -->
<% end %>



