<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                          <h4>
                            <%= image_tag "abrir.png", class: "img-responsive center-block" %>
                            <strong>Nuevo Negocio</strong>
                        </h4>
                        <p>¿Cómo puedo crear mi negocio?</p><br>
                        <%= button_to "Continuar",municipio_open_path(@municipio.id), class: "btn btn-light"%>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                      <h4>
                        <%= image_tag "tramites.png", class: "img-responsive center-block" %>
                        <strong>Tramites</strong>
                    </h4>
                    <p>Ya tengo un negocio ¿Qué tramites puedo realizar?</p>
                    <%= button_to "Continuar",municipio_tramite_path(@municipio.id), class: "btn btn-light"%>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                  <h4>
                    <%= image_tag "inspecciones.png", class: "img-responsive center-block" %>
                    <strong>Inspecciones</strong>
                </h4>
                <p>Ya tengo un negocio ¿Qué inspecciones me pueden realizar? y ¿Quien las puede realizar?</p>
                <a href="/pages/inspec" class="btn btn-light">Continuar</a>
            </div>
        </div>
    </div>
    <!-- /.row (nested) -->
</div>
<!-- /.col-lg-10 -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</section>
