<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="row">
            <div class="span12">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <br>
                    <div class="col-md-3">
                        <div class="service-item">
                            <h4>
                                <%= image_tag "abrir.png", class: "img-responsive center-block" %>
                                <%=t('.nuevo')%> 
                            </h4>
                            <p class="bg-primary-nergro"><%=t('.texto_nuevo')%> </p></br></br>
                                <%= link_to "Continuar",municipio_formation_steps_path(@municipio), :class => 'btn btn-success btn-lg outlineverde'%>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="service-item">
                            <h4>
                                <%= image_tag "tramites.png", class: "img-responsive center-block" %>
                                <%=t('.tramite')%>
                            </h4>
                            <p class="bg-primary-nergro"><%=t('.texto_tramite')%> </p></br>
                                <%= link_to "Consultar",municipio_procedure_lines_path(@municipio), :class => 'btn btn-success btn-lg outlineverde'%>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="service-item">
                            <h4>
                                <%= image_tag "inspecciones.png", class: "img-responsive center-block" %>
                                <%=t('.inspecciones')%>
                            </h4>
                            <p class="bg-primary-nergro"><%=t('.texto_inspeccion')%> </p>
                            <div class="dropdown">
                                <button class="btn btn-success btn-lg outlineverde" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Consultar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><%= link_to t('.inspeccion'), municipio_inspections_path(@municipio) %></li>
                                    <hr class="divider">
                                    <li role="presentation"><%= link_to t('.inspector'), municipio_inspectors_path(@municipio) %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




