<h2> <%= t('titles.dependencies') %></h2>
  <div class="row text-right">
<%= link_to t('.new_dependency'), new_dashboard_dependency_path, :class => 'btn btn-success btn-xs outlineverde'   %>
</div>
<table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.name') %></th>
     <th><%= t('.actions') %></th>
   </thead>
   <tbody>
     <% @dependencies.each_with_index do |dependency, idx| %>
       <%= content_tag :tr do %>
            <%= content_tag :td, idx + 1 %>
            <%= content_tag :td, truncate(dependency.nombre, :length => 70)%>
            <%= content_tag :td, dependency.municipio.nombre  %>
            <%= content_tag :td do %>
              <%= link_to t('form.actions.edit'), edit_dashboard_dependency_path(dependency) , :class => 'btn btn-success btn-xs outlineverde'%> 
              <%= link_to t('form.actions.destroy'), dashboard_dependency_path(dependency), method: :delete, data: { confirm: t('form.confirmations.delete_line')  }, :class => 'btn btn-success btn-xs outlineverde' %>
            <% end %>
       <% end %>
     <% end %>
   </tbody>
</table>
<p>
  Descargar:
  <%= link_to "CSV", dashboard_dependencies_path( format: "csv") , :class => 'btn btn-success btn-xs outlineverde'  %>
   <%#= link_to "XLS", dashboard_dependencies_path( format: "xls") %>
</p>

