<h2> <%= t('titles.dependencies') %></h2>
<%= link_to t('.new_dependencies'), new_dashboard_line_path, class: 'btn btn-default pull-right' %>

<table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.name') %></th>
     <th><%= t('.actions') %></th>
   </thead>
   <tbody>
     <% @dependencies.all.each_with_index do |line, idx| %>
       <%= content_tag :tr do %>
            <%= content_tag :td, idx + 1 %>
            <%= content_tag :td, truncate(line.nombre, :length => 70)%>
            <%= content_tag :td, line.municipio.nombre  %>
            <%= content_tag :td do %>
              <%= link_to t('form.actions.edit'), edit_dashboard_dependency_path(line) %> |
              <%= link_to t('form.actions.destroy'), dashboard_dependency_path(line), method: :delete, data: { confirm: t('form.confirmations.delete_line') } %>
            <% end %>
       <% end %>
     <% end %>
   </tbody>
</table>
