<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <%= content_tag :h1,t('.title'), class: 'text-center' %>
        <hr class="small">
    </div>
</div>
<%= form_for :get, :html => {:method => :get}, :url => { :controller => :formation_steps, :action => :index }  do |f| %>
	<p><%=t('.formation_steps_select_name')%>
		<%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true ,selected: @line }, { class: 'chosen-select' }%>
	</p>
	<div class= "field">
		<%=t('.formation_steps_radio_name')%>
		<%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'AF', @tipo=='AF' %>
		<%=t('.radio_moral')%> <%= radio_button_tag :rating, 'AM', @tipo=='AM'%>
	</div>
	<br>
	<div class="actions">
		<%= f.submit t('buttons.ok'),:class => 'btn btn-lg btn-light' %>
	</div>
	<div class="deck">
		<% unless @line.nil? %>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<% count = 0 %>
						<% @formation_steps.each_with_index do |formation_step,index| %>
							<% if formation_step.type == @tipo %>
								<% count += 1 %>
								<%if index.even? %>
									<li/>
								<%else %>
									<li class="timeline-inverted">
								<%end %>
								<div class="timeline-image">
									<br><br>
									<h1><%=t('.pasos', parameter: count)%></h1>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="subheading"> <%= formation_step.name %></h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted"><%= formation_step.description %><br>
											<%=link_to t('.link'),formation_step.path, :target => "_blank"%></p>
									</div>
								</div>
							<% end %>
						<% end %>
						<%if(count != 0)%>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<br><h2><%=t('.fin_steps')%></h2>
								</div>
							</li>
						<%else%>
							<%= render "shared/empty_resource", message: t('.no_formation_steps_available') %>
						<%end%>
						
					</ul>
				</div>
			</div>
			<% else %>
			<%= render "shared/empty_resource", message: t('.no_formation_steps_selected') %>
			<% end %>
			
<%end%>