<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="row">
            <div class="span12">
                <section id="services ">
                    <div class="center-block-margin">
                    	<div class="container">
							<div class="row text-center">
								<div class="col-lg-10 col-lg-offset-1">
									<%= content_tag :h1,t('.title'), class: 'text-center texto-verde ' %>
										<hr class="small">
										<br>
								</div>
							</div>
							<%= form_for :get, :html => {:method => :get}, :url => { :controller => :formation_steps, :action => :index }  do |f| %>
							<div class="col-md-12">
								<div class="col-md-6 col-md-offset-3 text-center texto-verde-wrap">
									<div class="row text-left">
										<div class="row">
											<div class="col-xs-6 col-sm-3">
												<%=t('.formation_steps_select_name')%>
											</div>
							 				<div class="clearfix visible-xs-block">
							 				</div>
											<div class="col-md-offset-3">
												<%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true ,selected: @line }, { class: 'chosen-select' }%>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-xs-6 col-sm-3">
												<%= t('.formation_steps_radio_name')%>
											</div>
							 				<div class="clearfix visible-xs-block">
							 				</div>
											<div class="col-md-offset-3">
												<div class="btn-group btn-toggle" data-toggle="buttons">
													<%if @tipo == 'AF'%>
														<label class= "btn btn-default active"><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'AF',true%></label>
														<label class= "btn btn-default"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'AM'%></label>
													<%else%>
														<label class= "btn btn-default "><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'AF'%></label>
														<label class= "btn btn-default active"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'AM',true%></label>
													<%end%>
												</div>
											</div>
										</div>
										<br>
										<div class="row text-left">
											<div class="col-xs-6 col-sm-3"></div>
											 <div class="clearfix visible-xs-block"></div>
											<div class="actions col-md-offset-3">
												<%= f.submit t('buttons.ok'),:class => 'btn btn-success btn-lg outlineverde'%>
											</div>
										</div>
									</div>
								</div>
							</div>
								<div class="col-lg-12">
									<% unless @line.nil? %>
										<%= render "shared/carrusel_custome" %>
									<% else %>
									<br>
									<br>
										<%= render "shared/empty_resource", message: t('.no_formation_steps_selected') %>
									<% end %>
								</div>
							<% end %>	
						</div>
					</div>
                </section>
            </div>
        </div>
    </div>
</div>


