
	<div class="container bg-primary-verde">
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1">
				<%= content_tag :h1,t('.title'), class: 'text-center' %>
				<hr class="small">
			</div>
		</div>
		<%= form_for :get, :html => {:method => :get}, :url => { :controller => :formation_steps, :action => :index }  do |f| %>
		<p><%=t('.formation_steps_select_name')%>
			<%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true ,selected: @line }, { class: 'chosen-select' }%>
		</p>

		<br>
		<%= t('.formation_steps_radio_name')%>
		<div class="btn-group btn-toggle" data-toggle="buttons">
			<%if @tipo == 'AF'%>
			<label class= "btn btn-default active"><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'AF',true%></label>
			<label class= "btn btn-default"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'AM'%></label>
			<%else%>
			<label class= "btn btn-default "><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'AF'%></label>
			<label class= "btn btn-default active"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'AM',true%></label>
			<%end%>
		</div>
		<div class="actions">
			<%= f.submit t('buttons.ok'),:class => 'btn btn-success btn-lg outlineverde'%>
		</div>
		<div class="deck">
			<% unless @line.nil? %>
					<%= render "shared/carrusel" %>
			<% else %>
				<%= render "shared/empty_resource", message: t('.no_formation_steps_selected') %>
			<% end %>	
			<%end%>
		</div>
	</div>
</div>

