<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @formation_step.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @formation_step.description %>
</p>

<p>
  <strong>name:</strong>
  <%= @formation_step.path %>
</p>

<p>
  <strong>name:</strong>
  <%= @formation_step.type %>
</p>

