<h1>Listing inspection_lines</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Inspection</th>
      <th>lines</th>
    </tr>
  </thead>

  <tbody>
    <% @inspection_lines.each do |inspection_line| %>
      <tr>
        <td>id: <%= inspection_line.id %></td>
        <td><%= Inspection.find(inspection_line.inspection_id).nombre %></td>
        <td><%= Line.find(inspection_line.line_id).nombre %></td>
        <td><%= link_to 'Show', inspection_line %></td>
        <td><%= link_to 'Edit', edit_inspection_line_path(inspection_line) %></td>
        <td><%= link_to 'Destroy', inspection_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependency', new_inspection_line_path %>
