<!-- <td><%#= inspector.dependency.nombre %></td> -->
<h3 class="title"><%= t('.title') %></h3>

<div class="row">
  <%= render "shared/search", custom_path: municipio_inspectors_path($municipio), search_placeholder: t('.search_inspectors') %>


  <% @inspectors.each do |inspector| %>
    <%= link_to municipio_inspector_path($municipio,inspector) do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag "missing-image.gif" %>
        <div class="caption">
          <h4 class="title"><%= inspector.nombre %></h4>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
