<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="row">
      <div class="span12">
        <section id="services ">
          <div class="center-block-margin">
            <div class="container">
              <div class="row text-center">
                <h3 class="title texto-verde"><%= @inspector.nombre %></h3>
                <div style="border: 1px solid white;background-color: white;">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="thumbnail">
                      <%= image_tag @inspector.foto_url || "missing-image.gif" %>
                    </div>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="texto-verde-wrap"><%= t('.vigencia') %></td>
                        <td class ="bg-primary-nergro"><%= @inspector.vigencia %></td>
                      </tr>
                      <tr>
                        <td class="texto-verde-wrap"><%= t('.materia') %></td>
                        <td class ="bg-primary-nergro"><%= @inspector.materia %></td>
                      </tr>
                      <tr>
                        <td class="texto-verde-wrap"><%= t('.supervisor') %></td>
                        <td class ="bg-primary-nergro"><%= @inspector.supervisor %></td>
                      </tr>
                      <tr>
                        <td class="texto-verde-wrap"><%= t('.contacto') %></td>
                        <td class ="bg-primary-nergro"><%= @inspector.contacto %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
