<div class="container bg-primary-verde">
  <div class="row text-center">
<h3 class="title"><%= @inspector.nombre %></h3>
<div style="border: 1px solid white;background-color: white;">
  <div class="col-md-6 col-md-offset-3">
  <div class="thumbnail">
    <%= image_tag @inspector.foto_url || "missing-image.gif" %>
  </div>
   </div>
  <table class="table">
    <tbody>
      <tr>
        <td><%= t('.vigencia') %></td>
        <td class ="bg-primary-nergro"><%= @inspector.vigencia %></td>
      </tr>
      <tr>
        <td><%= t('.materia') %></td>
        <td class ="bg-primary-nergro"><%= @inspector.materia %></td>
      </tr>
      <tr>
        <td><%= t('.supervisor') %></td>
        <td class ="bg-primary-nergro"><%= @inspector.supervisor %></td>
      </tr>
      <tr>
        <td><%= t('.contacto') %></td>
        <td class ="bg-primary-nergro"><%= @inspector.contacto %></td>
      </tr>
  </table>
</div>
</div>
</div>
