<h3 class="title"><%= @inspector.nombre %></h3>

<div style="border: 1px solid white;background-color: white;">
  <table class="table">
    <tbody>
      <tr>
        <td>Vigencia</td>
        <td><%= @inspector.vigencia %></td>
      </tr>
      <tr>
        <td>Materia</td>
        <td><%= @inspector.materia %></td>
      </tr>
      <tr>
        <td>Supervisor</td>
        <td><%= @inspector.supervisor %></td>
      </tr>
      <tr>
        <td>Contacto</td>
        <td><%= @inspector.contacto %></td>
      </tr>
  </table>
</div>
