<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @requirement.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @requirement.descripcion %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
