<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @requirement.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @requirement.descripcion %>
</p>

<p>
  <strong>Path:</strong>
  <%= @requirement.path %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @requirement.tipo %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
