<div id="main" class="container clear-top">
  <div class="row">
    <div class="span12">
      <section id="services">
        <div class="center-block-margin">
          <div class="container">
            <h2> <%= t('titles.requirements') %></h2>
            <div class="row text-right">
              <%= link_to t('.new_requirements'), new_dashboard_requirement_path, :class => 'btn btn-success btn-xs outlineverde' %>
            </div>
            <table class="table">
             <thead>
               <th>#</th>
               <th><%= t('.name') %></th>
               <th><%= t('.municipio') %></th>
               <th><%= t('.actions') %></th>
             </thead>
             <tbody>
               <% @requirements.each_with_index do |requirement, idx| %>
               <%= content_tag :tr do %>
               <%= content_tag :td, idx + 1 %>
               <%= content_tag :td, truncate(requirement.nombre, :length => 70)%>
               <%= content_tag :td, requirement.municipio.nombre  %>
               <%= content_tag :td do %>
               <%= link_to t('form.actions.edit'), edit_dashboard_requirement_path(requirement) , :class => 'btn btn-success btn-xs outlineverde'%> |
               <%= link_to t('form.actions.destroy'), dashboard_requirement_path(requirement), method: :delete, data: { confirm: t('form.confirmations.delete_requirement') }, :class => 'btn btn-success btn-xs outlineverde' %>
               <% end %>
               <% end %>
               <% end %>
             </tbody>
           </table>

           <p>
            Descargar:
            <%= link_to "CSV", dashboard_requirements_path( format: "csv"), :class => 'btn btn-success btn-xs outlineverde' %>
            <%#= link_to "XLS", dashboard_requirements_path( format: "xls") %>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
</div>


