<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
      <!-- Carousel indicators -->
      <%= render "shared/cargar_bolitas" %>
       <!-- Carousel items -->
        <div class="carousel-inner">
            <% count = 0 %>
            <% @formation_steps.each_with_index do |formation,index| %>
              <% if formation.type == @tipo %>
                <% count += 1 %>
                <%if count == 1 %>
                  <div class="active item">
                <%else %>
                  <div class="item">
                <%end %>
                <div class="carousel-caption text-top">
                  <h4 class="texto-verde-wrap top-carrusel"><%=formation.name%></h4>
                  <p class="texto-negro texto-padding-bottom"><%=formation.description[0..350] %><br>
                  
                  <%unless @tramites_realizados.nil?%>
                    <div class = "row">
                      <div class="col-md-6">
                        <%if request.original_url.include? "guardado"%>
                          <%@tamano = "&guardado=#{formation.id}".mb_chars.length%>
                          <%@ruta = "#{request.original_url[0..-@tamano-1]}&guardado=#{formation.id}" %>
                        <%else%>
                          <%@ruta = "#{request.original_url}&guardado=#{formation.id}" %>
                        <%end%>
                        <%if @tramites_realizados.where(formation_step_id: formation.id, line_id: @line, tipo: @tipo).first.nil?%>
                          <p class="text-right"> <%=link_to 'Ya tengo este tramite', @ruta,{:style => 'color: #f00'}  %> </p>
                        <%else%>
                          <div class="col-md-4"><p class="text-right texto-verde-wrap">Terminado</p></div>
                        <%end%>
                      </div>
                      <div class="col-md-6"><%=link_to t('.obtener_aqui'), formation.path , {:style => 'color: #418F61', :target => '_blank'} %></p>
                      </div>
                    </div>
                  <%else%>
                    <%=link_to t('.obtener_aqui'), formation.path , {:style => 'color: #418F61', :target => '_blank'} %></p>
                  <%end%>
                </div>
                </div>
              <%end%>
            <%end%>  
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>






<script type="text/javascript">
$(document).ready(function(){
    $(".tip-top").tooltip({placement : 'top'});
    $(".tip-right").tooltip({placement : 'right'});
    $(".tip-bottom").tooltip({placement : 'bottom'});
    $(".tip-left").tooltip({ placement : 'left'});
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>