<ol class="carousel-indicators">
  <% count = 0 %>
  <% @formation_steps.each_with_index do |formation_step,index| %>
    <% if formation_step.type == @tipo %>
      <% count += 1 %>
      <%if @tramites_realizados.nil?%>
        <%if count==1%>
          <li data-target="#myCarousel" data-slide-to=<%=count-1%> class="active" data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>'></li>
        <%else%>
          <li data-target="#myCarousel" data-slide-to=<%=count-1%> data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>'></li>
        <%end%>
      <%else%>
        <%if @tramites_realizados.where(formation_step_id: formation_step,line_id: @line, tipo: @tipo).first.nil?%>
         <%if count==1%>
            <lir data-target="#myCarousel" data-slide-to=<%=count-1%> class="active" data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>' ></lir>
          <%else%>
            <lir data-target="#myCarousel" data-slide-to=<%=count-1%> data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>' ></lir>
          <%end%>
        <%else%>
          <%if count==1%>
            <li data-target="#myCarousel" data-slide-to=<%=count-1%> class="active" data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>'></li>
          <%else%>
            <li data-target="#myCarousel" data-slide-to=<%=count-1%> data-toggle="tooltip" data-placement="bottom" data-original-title='<%=formation_step.name%>'></li>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</ol>