 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left">
                    <li >
                    <div class="dropdown nav navbar-nav navbar-left">
                        <%unless @municipio.nil?%>
                            <%=t('titles.titulo')%>  | <a href="" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ><%=@municipio.nombre %><span class="caret a" ></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <%@municipios.each do |municipio|%>
                                    <%unless municipio == @municipio%>
                                         <li role="presentation">
                                            <%=link_to municipio.nombre,municipio_path(municipio), :role => "menuitem", :tabindex => "-1"%>
                                         </li>
                                    <%end%>
                                <%end%>
                            </ul>
                        <%end%>
                    </div>
                    </li>
               </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class= "texto-padding-top"> <m><%= link_to t('navbar.new'),municipio_formation_steps_path(@municipio)%></m></li>
                    <li class= "texto-padding-left"> <m> <%= link_to t('navbar.tramite'),municipio_procedure_lines_path(@municipio)%></m></li>
                    <li class= "texto-padding-left"> <m> <%= link_to t('navbar.inspections'),municipio_inspections_path(@municipio)%></m></li> 
                    <li  class= "texto-padding-left"> <m> <%= link_to t('navbar.inspectors'),municipio_inspectors_path(@municipio)%></m></li>
                   <li class= "texto-padding-left"> | <m><%=link_to t('navbar.menu'),municipio_path(@municipio), class: "m" %></m></li>
                </ul>
            </div>
        </div>
    </nav>