<div class="text-vertical-center">
	<%= form_for :post, :url => { :controller => :municipios, :action => :search } do |f| %>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid"> 
				<% if user_signed_in? %>
				<p class="navbar-text pull-right navbar-custom"><%="#{current_user.email}\t"%><%=link_to "Salir", destroy_user_session_path(:authenticity_token => form_authenticity_token()),:method => :delete,class: "navbar-text-blanco"%>
				</p>
				<% else %>
				<p class="navbar-text pull-right navbar-custom" data-toggle="modal" data-target="#myModal">Iniciar Sesion</p>
				<% end %>
			</div>
		</div>
	</div>
	<%= image_tag "logo.png", class: "img-responsive center-block quarto"%>          

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="input-group">
					<div class="input-group-addon">
						<H3><%=f.label 'Elige tu municipio:' %></H3>
						<BR>
							<%#= f.select :municipio, Municipio.all.map { |u| [u.nombre, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
						</br>
					</div>
				</div>
				<br>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-2"><%= link_to 'Chalco', municipio_path('1'),  :class => 'btn btn-success btn-lg outline' %></div>
		<div class="col-md-2"><%= link_to 'Metepec', municipio_path('4'),  :class => 'btn btn-success btn-lg outline' %></div>
		<div class="col-md-2"><%= link_to 'Tenango', municipio_path('5'),  :class => 'btn btn-success btn-lg outline' %></div>
		<div class="col-md-2"><%= link_to 'Toluca', municipio_path('6'),  :class => 'btn btn-success btn-lg outline' %></div>
	</div>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12  navbar-text-blanco">
				¿No encuentras tu municipio? da <m class = "m" href="" data-toggle="modal" data-target="#myModal"> clic aquí</m>
			</div>
		</div>
	</div>
	<% end %>


	<!-- Modal  -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog-center">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Puedes iniciar sesión con:</h4>
				</div>
				<div class="modal-body">
					<%= link_to " | Facebook", user_omniauth_authorize_path(:facebook) ,class: "btn btn-facebook fa fa-facebook btn-lg-social"%>
					<BR>
						<BR>
							<%= link_to " | Linkedin",user_omniauth_authorize_path(:linkedin) ,class: "btn btn-linkedin fa fa-linkedin btn-lg-social"%>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1499379517003281&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
