<div class="container bg-primary">
	<div class="row text-center">
		<div class="row">
			<div class="col-md-6">
				<h1><%= @titulo_fisico %></h1><br>
				<div class="btn-group btn-group-vertical">
					<%j = 0%>
					<% @requirements.each do |requirement| %>
					<% if requirement.tipo == 'AF' %>
					<%j += 1%>
					<a href="<%=requirement.path%>"  data-original-title="<%=requirement.descripcion%>" data-placement="left" data-toggle="tooltip" class="btn btn-default"   type="button" id="tooltip<%=j%>" target="_blank">
						<%=requirement.nombre%>
					</a>
					<br>
					<%end%>
					<% end %>
				</div>
			</div>
			<div class="col-md-6">
				<h1><%= @titulo_moral %></h1><br>
				<div class="btn-group btn-group-vertical">
					<% @requirements.each do |requirement| %>
					<% if requirement.tipo == 'AM' %>
					<%j += 1%>
					<a href="<%=requirement.path%>"  data-original-title="<%=requirement.descripcion%>" data-placement="right" data-toggle="tooltip" class="btn btn-default"   type="button" id="tooltip<%=j%>" target="_blank">
						<%=requirement.nombre%>
					</a>
					<br>
					<%end%>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<script id="bsJs" type="text/javascript">
	$(document).ready(function() {
		for (i = 1; i < 12; i++) { 
			$('#tooltip'+i).tooltip();
		}
	});
	</script> 



