 <section id="services" class="services bg-primary">
 	<div class="container">
 		<div class="row text-center">
 			<div class="col-lg-10 col-lg-offset-1">
 				<hr class="small">
 				<div class="row">

 					<%= form_for :post, :url => { :action => :paso , :controller => :pages} do |f| %>
 					<p>
 						<% a = Line.find($id_del_giro) %>
 						<% b = a.procedures.includes(:procedure_lines).where("line_id = #{$id_del_giro}") %>
 						<% b.each do |t| %>
						<p><%= t.nombre %></p>
 							<% c = Procedure.find(t.id) %>
 							<% d = c.requirements.includes(:procedure_requirements).where("procedure_id = #{t.id}") %>
 							<% d.each do |j| %>
		 						<div class="col-md-3 col-sm-6">
		 							<div class="service-item">
		 								<%= fa_stacked_icon "cloud" %>
		 								<p><%= j.nombre %></p>
		 								<a href="#" class="btn btn-light">¿Cómo Tramitar?</a>
		 							</div>
		 						</div>
 							<% end %>
 						<% end %>
 						<!--<%= collection_select(:lines, :line_id, b, :id, :nombre, {:prompt => false}) %>-->
 					</p>
 					<% end %>     
 				</div>
 				<!-- /.row (nested) -->
 			</div>
 			<!-- /.col-lg-10 -->
 		</div>
 		<!-- /.row -->
 	</div>
 	<!-- /.container -->
 </section>

