<%= form_for :post, :url => { :action => :paso , :controller => :pages} do |f| %>
<p>
	<%= f.label '¿Que giro tiene tu negocio?' %>
	<%= collection_select(:lines, :line_id, Line.where(municipio_id: $id_del_municipio), :id, :nombre, {:prompt => false}) %>
</p>

<ul>
  <% Line.all.each do |role| %>
      <li>
        <%= check_box_tag 'role_ids[]', role.id -%>
        <%= h role.name -%>
      </li>
  <% end %>
</ul>
<% end %>
			 


 <section id="services" class="services bg-primary">
 	<div class="container">
 		<div class="row text-center">
 			<div class="col-lg-10 col-lg-offset-1">
 				<hr class="small">
 				<div class="row">
 					<%= form_for :post, :url => { :action => :paso , :controller => :pages} do |f| %>
 					<p>
 						<% @tramites_del_giro.each_with_index do |tramite_de_giro, i| %>
 						<p><button type="button" class="btn btn-danger" data-toggle="collapse" data-target=<%="#flag#{i}" %>>
 							<%= tramite_de_giro.nombre %></button></p>
 							<div id=<%="flag#{i}"%> class="collapse">
 								<div class="accordion" id="accordion2">
 									<% tramites_giro(tramite_de_giro.id).each_with_index do |tramite, k| %>
	 									<button type="button" class="btn btn-light" title='<%= tramite.nombre %>'  
	 										data-container="body" data-toggle="popover" data-placement="top"
	 										data-content='Para obtener da click <a href="#">aquí</a>'>
	 										Paso <%=k+1 %>
	 									</button>
 									<% end %>
 									<BR/>
 									<BR/>
 								</div>
 							</div>
 							<% end %>
 						</p>
 						<% end %>     
 					</div>
 					<!-- /.row (nested) -->
 				</div>
 				<!-- /.col-lg-10 -->
 			</div>
 			<!-- /.row -->
 		</div>

 		<script>$(function () 
 			{ $("[data-toggle='popover']").popover({ html : true });
 		});
 		</script>
 	</section>
