	<!--seccion paso a paso -->
 <% unless @line.nil? %>
 <br><br>
 <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apertura de <%=Line.find(@line).nombre.downcase %></h2>
                    <h3 class="section-subheading text-muted">Para persona <%= @tipo == 'AF'? 'física' : 'moral'%>  </h3>
                     <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <% count = 0 %>
                    		<% @formation_steps.each_with_index do |formation_step,index| %>
                    		<% if formation_step.type == @tipo %>
                    		   <% count += 1 %>
                        		 <%if index % 2 == 0 %>
                                	<li>
                                <%else %>
                                	<li class="timeline-inverted">
                                <%end %>
                            	<div class="timeline-image">
                                	<%= image_tag "bolita.png", class: "img-circle img-responsive" %>
                                </div>
                   	 			<div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Paso <%=count%></h4>
                                        <h4 class="subheading"> <%= formation_step.name %></h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"><%= formation_step.description %></p>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                        
                        <% end %>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Ya <br>tienes tu <br>empresa</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
	<% end %>
<!--termina paso a paso -->