<div id="form-container">
  <%= form_for [:dashboard, @inspector], html: { class: 'form-horizontal', multipart: true } do |f| %>
    <% if @inspector.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@inspector.errors.count, "error") %> prohibited this inspector from being saved:</h2>

        <ul>
        <% @inspector.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nombre, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :vigencia, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :vigencia, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :materia, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :materia, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :supervisor, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :supervisor, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :contacto, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :contacto, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :foto, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <span><%= link_to(@inspector.foto_identifier, @inspector.foto_url, target: "_blank") if @inspector.foto_url %></span>
        <%= f.file_field :foto, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :dependencia, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= collection_select(:inspector, :dependency_id, Dependency.all, :id, :nombre, {:prompt => false}, class: 'form-control') %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('.create_inspector'), class: 'btn btn-default pull-right' %>
    </div>
  <% end %>
</div>
