<div id="main" class="container clear-top">
  <div class="row">
    <div class="span12">
      <section id="services">
        <div class="center-block-margin">
          <div class="container">
            <h2> <%= t('titles.inspectors') %></h2>
            <div class="row text-right">
              <%= link_to t('.new_inspector'), new_dashboard_inspector_path, :class => 'btn btn-success btn-xs outlineverde' %>
            </div>
            <table class="table">
              <thead>
                <th>#</th>
                <th><%= t('.name') %></th>
                <th><%= t('.dependency') %></th>
                <th><%= t('.actions') %></th>
              </thead>
              <tbody>
                <% @inspectors.each_with_index do |inspector, idx| %>
                <%= content_tag :tr do %>
                <%= content_tag :td, idx + 1 %>
                <%= content_tag :td, inspector.nombre %>
                <%= content_tag :td, inspector.dependency.nombre %>
                <%= content_tag :td do %>
                <%= link_to t('form.actions.edit'), edit_dashboard_inspector_path(inspector), :class => 'btn btn-success btn-xs outlineverde' %> 
                <%= link_to t('form.actions.destroy'), dashboard_inspector_path(inspector), method: :delete, data: { confirm: t('form.confirmations.delete_inspector') } , :class => 'btn btn-success btn-xs outlineverde'%>
                <% end %>
                <% end %>
                <% end %>
              </tbody>
            </table>

            <p>
              Descargar:
              <%= link_to "CSV", dashboard_inspectors_path( format: "csv"), :class => 'btn btn-success btn-xs outlineverde' %>
              <%#= link_to "XLS", dashboard_inspectors_path( format: "xls") %>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>