<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="row row-padding-bottom">
      <div class="span12">
        <section id="services ">
          <div class="center-block-margin">
            <div class="container">
              <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <%= content_tag :h1,t('.title'), class: 'text-center texto-verde ' %>
                  <hr class="small">
                  <br>
                </div>
              </div>
              <%= form_for :get, :html => {:method => :get}, :url => { :controller => :procedure_lines, :action => :index }  do |f| %>
              <div class="col-md-6 col-md-offset-3 text-center texto-verde-wrap">
                <div class="row text-left">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3">
                      <%=t('.procedure_lines_select_name')%>
                    </div>
                    <div class="clearfix visible-xs-block">
                    </div>
                    <div class="col-md-offset-3">
                      <%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true ,selected: @line }, { class: 'chosen-select' }%>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6 col-sm-3">
                      <%= t('.procedure_lines_radio_name')%>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-md-offset-3">
                      <div class="btn-group btn-toggle" data-toggle="buttons">
                        <%if @tipo == 'TF'%>
                        <label class= "btn btn-default active"><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'TF',true%></label>
                        <label class= "btn btn-default"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'TM'%></label>
                        <label class= "btn btn-default"><%= t('.radio_ambas')%> <%= radio_button_tag :rating, 'A'%></label>
                        <%elsif @tipo == 'TM'%>
                        <label class= "btn btn-default "><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'TF'%></label>
                        <label class= "btn btn-default active"><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'TM',true%></label>
                        <label class= "btn btn-default"><%= t('.radio_ambas')%> <%= radio_button_tag :rating, 'A'%></label>
                        <%else%>
                        <label class= "btn btn-default "><%= t('.radio_fisica')%> <%= radio_button_tag :rating, 'TF'%></label>
                        <label class= "btn btn-default "><%= t('.radio_moral')%> <%= radio_button_tag :rating, 'TM'%></label>
                        <label class= "btn btn-default active"><%= t('.radio_ambas')%> <%= radio_button_tag :rating, 'A',true%></label>
                        <%end%>
                      </div>
                    </div>
                  </div>
                  <br>

                </div>
              </div>
              <div class="row text-center">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-7 five-three">
                      <div class="row">
                        <div class="col-sm-4 margin-bottom-button">
                          <%= f.submit t('buttons.crea'),:class => 'btn btn-success btn-lg outlineverde btn-block'%>
                        </div>
                        <div class="col-sm-4 margin-bottom-button">
                          <%= f.submit t('buttons.administra'),:class => 'btn btn-success btn-lg outlineverde btn-block'%>
                        </div>
                        <div class="col-sm-4 margin-bottom-button">
                          <%= f.submit t('buttons.crece'),:class => 'btn btn-success btn-lg outlineverde btn-block'%>
                        </div><!-- end inner row -->
                      </div>
                    </div>
                    <div class="col-sm-5 five-two">
                      <div class="row">
                        <div class="col-sm-6 margin-bottom-button">
                          <%= f.submit t('buttons.construye'),:class => 'btn btn-success btn-lg outlineverde btn-block'%>
                        </div>
                        <div class="col-sm-6 margin-bottom-button">
                          <%= f.submit t('buttons.cierra'),:class => 'btn btn-success btn-lg outlineverde btn-block'%>
                        </div>
                      </div><!-- end inner row -->
                    </div>
                  </div>​<!-- end outer row -->
                </div>
              </div>   

              <div class="row text-center">
                <div class="col-lg-12">
                  <%= render "shared/procedure_lines_result" %>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>



