<h1>Listing procedure_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedure_lines.each do |procedure_line| %>
      <tr>
        <td>id: <%= procedure_line.id %></td>
        <td><%= Procedure.find(procedure_line.procedure_id).nombre %></td>
        <td><%= Line.find(procedure_line.line_id).nombre %></td>
        <td><%= link_to 'Show', procedure_line %></td>
        <td><%= link_to 'Edit', edit_procedure_line_path(procedure_line) %></td>
        <td><%= link_to 'Destroy', procedure_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependency', new_procedure_line_path %>
