
<h3 class="title"><%= @line%></h3>
<h3 class="subtitle"><%= @procedure%></h3>

<div style="border: 1px solid white;background-color: white;">
  <table class="table">
    <tbody>
      <% @procedure_requirement.each_with_index do |procedure, k| %>
      <% @requirements.where(id: procedure.requirement_id).each do |tramite| %>
      <tr>
        <td>Paso <%= k+1%>:</td>
        <td><%= tramite.nombre %></td>
        <td><a target="_blank" href="<%=tramite.path%>">Tramita aqui</a></td>
      </tr>
      <% end %> 
      <% end %>
    </tbody>
  </table>
</div>
