<h3 class="title"><%= @procedure.nombre %></h3>

<div style="border: 1px solid white;background-color: white;">
  <table class="table">
    <tbody>
      <tr>
        <td>Nombre</td>
        <td><%= @procedure.nombre %></td>
      </tr>
      <tr>
        <td>Duracion</td>
        <td><%= @procedure.duracion %></td>
      </tr>
      <tr>
        <td>Costo</td>
        <td><%= @procedure.costo %></td>
      </tr>
      <tr>
        <td>Vigencia</td>
        <td><%= @procedure.vigencia %></td>
      </tr>
      <tr>
        <td>contacto</td>
        <td><%= @procedure.contacto %></td>
      </tr>
      <tr>
        <td>Dependencia</td>
        <td><%= @procedure.dependency.nombre %></td>
      </tr>
    </tbody>
  </table>
</div>
