<%= form_for(@procedure_requirement) do |f| %>
<% if @procedure_requirement.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@procedure_requirement.errors.count, "error") %> prohibited this procedure_requirement from being saved:</h2>

  <ul>
    <% @procedure_requirement.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.label :procedure %><br>
  <%= collection_select(:procedure_requirement, :procedure_id, Procedure.all, :id, :nombre, {:prompt => false}) %> 
</div>

<div class="field">
  <%= f.label  :requirement%><br>
  <%= collection_select(:procedure_requirement, :requirement_id, Requirement.all, :id, :nombre, {:prompt => false}) %> 
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
