<h1>Listing procedure_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Inspection</th>
      <th>Requirement</th>
    </tr>
  </thead>

  <tbody>
    <% @inspection_requirements.each do |inspection_requirement| %>
      <tr>
        <td>id: <%= inspection_requirement.id %></td>
        <td><%= Inspection.find(inspection_requirement.inspection_id).nombre %></td>
        <td><%= Requirement.find(inspection_requirement.requirement_id).nombre %></td>
        <td><%= link_to 'Show', inspection_requirement %></td>
        <td><%= link_to 'Edit', edit_inspection_requirement_path(inspection_requirement) %></td>
        <td><%= link_to 'Destroy', inspection_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependency', new_inspection_requirement_path %>
