<p id="notice"><%= notice %></p>

<p>
  <strong>Inspection:</strong>
  <%= Inspection.find(@inspection_requirement.inspection_id).nombre %>
       

</p>

<p>
  <strong>Requirement:</strong>
 <%= Requirement.find(@inspection_requirement.requirement_id).nombre %>
</p>
<%= link_to 'Edit', edit_inspection_requirement_path(@inspection_requirement) %> |
<%= link_to 'Back', inspection_requirements_path %>

