<div id="form-container">
  <%= form_for [:dashboard, @procedure], html: { class: 'form-horizontal' } do |f| %>
    <% if @procedure.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@requirements.errors.count, "error") %> prohibited this procedure from being saved:</h2>

        <ul>
        <% @procedure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nombre, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :duracion, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :duracion, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :costo, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :costo, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :vigencia, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :vigencia, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contacto, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :contacto, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tipo, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :tipo, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dependency, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :dependency_id, @dependencies.map { |u| [u.nombre, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
      </div>
    </div>

     <div class="form-group">
      <%=f.label :requirement_ids, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :requirement_ids, @requirements.map { |u| [u.nombre, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}%>
      </div>
    </div>

     <div class="form-group">
      <%=f.label :line_ids, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :line_ids, @lines.map { |u| [u.nombre, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}%>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('.create_procedures'), :class => 'btn btn-success btn-xs outlineverde' %>
    </div>
  <% end %>
</div>