<h2> <%= t('titles.procedures') %></h2>
<%= link_to t('.new_procedures'), new_dashboard_procedure_path, class: 'btn btn-default pull-right' %>

<table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.name') %></th>
     <th><%= t('.dependencia') %></th>
     <th><%= t('.actions') %></th>
   </thead>
   <tbody>
     <% @procedures.each_with_index do |procedure, idx| %>
       <%= content_tag :tr do %>
            <%= content_tag :td, idx + 1 %>
            <%= content_tag :td, truncate(procedure.nombre, :length => 70)%>
            <%= content_tag :td, Dependency.find(procedure.dependency_id).nombre%>
            <%= content_tag :td do %>
              <%= link_to t('form.actions.edit'), edit_dashboard_procedure_path(procedure) %> |
              <%= link_to t('form.actions.destroy'), dashboard_procedure_path(procedure), method: :delete, data: { confirm: t('form.confirmations.delete_procedure') } %>
            <% end %>
       <% end %>
     <% end %>
   </tbody>
</table>
