<h3 class="title"><%= t('.title') %></h3>

<%= render "shared/search", custom_path: inspections_path, search_placeholder: t('.search_inspections') %>


<div class="deck">
  <% if @inspections.any? %>
    <div class="table__card">
      <ul>
        <% @inspections.each do |inspection| %>
          <%= link_to inspection_path(inspection) do %>
          <li class="table--row">
            <div class="row--title"><%= inspection.nombre %></div>
            <div class="row--subtitle"><%= inspection.materia %></div>
            <div class="row--footer">Duraci&oacute;n: <%= inspection.duracion %></div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-inspections') %>
    </div>
  <% end %>
</div>
