<div class="deck">
  <div class="actions__card">
    <div class="action--title"><h3 class="title">Inspections</h3></div>
    <div class="action--list">
      <%= link_to 'New Inspection', new_inspection_path, class: 'btn btn-default action-element' %>
    </div>
  </div>

  <% if @inspections.any? %>
    <div class="table__card">
      <ul>
        <% @inspections.each do |inspection| %>
          <%= link_to inspection_path(inspection) do %>
          <li class="table--row">
            <div class="row--title"><%= inspection.nombre %></div>
            <div class="row--subtitle"><%= inspection.materia %></div>
            <div class="row--footer">Duraci&oacute;n: <%= inspection.duracion %></div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-inspections') %>
    </div>
  <% end %>
</div>
