<h3 class="title"><%= t('.title') %></h3>

<%= render "shared/search", custom_path: municipio_inspections_path(@municipio), search_placeholder: t('.search_inspections') %>

<div class="deck">
  <% if @inspections.any? %>
    <div class="table__card">
      <ul>
        <% @inspections.each do |inspection| %>
          <%= link_to municipio_inspection_path(@municipio, inspection) do %>
          <li class="table--row">
            <div class="row--title"><%= inspection.nombre %></div>
            <div class="row--subtitle"><%= inspection.materia %></div>
            <div class="row--footer">Duraci&oacute;n: <%= inspection.duracion %></div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= render "shared/empty_resource", message: t('.no_inspections_available') %>
  <% end %>
</div>
