  <div class="container bg-primary-verde">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <%= content_tag :h1, t('.title'), class: 'text-center' %>
        <hr class="small">
      </div>
    </div>

    <%= form_for :get, :html => {:method => :get}, :url => { :controller => :inspections, :action => :index }  do |f| %>
    <p>¿Cual es el giro de tu negocio?
      <%= f.select :lines, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true ,:selected =>@line  },{ class: 'chosen-select' }%></p>
      <br>
      <div class="actions">
       <%= f.submit t('buttons.ok'),:class => 'btn btn-success btn-lg outlineverde' %>
     </div>
     <br>
     <% unless @inspections.nil? || @inspections.empty? %>
     <div class="table__card">
       <div class="deck">
        <div class="table__card">
          <ul>
            <% @inspections.each do |inspection| %>
            <%if @inspection_line.where(inspection_id: inspection.id).present?%>
            <%if @first_time%>
            <%= render "shared/search", custom_path: municipio_inspections_path(@municipio), search_placeholder: t('.search_inspections') %>
            <br>
            <br>
            <li class="table--row">
              <div class="row--title"><%=t('.nombre')%> </div>
              <div class="row--subtitle"><%=t('.materia')%> </div>
              <div class="row--footer"><%=t('.duracion')%> </div>
            </li>
            <% @first_time = false%>
            <%end%>
            <%= link_to municipio_inspection_path(@municipio, inspection) do %>
            <li class="table--row">
              <div class="row--title bg-primary-nergro"><%= inspection.nombre %></div>
              <div class="row--subtitle bg-primary-nergro"><%= inspection.materia %></div>
              <div class="row--footer bg-primary-nergro"><%= inspection.duracion %></div>
            </li>
            <% end %>
            <%end%>

            <% end %>
          </ul>
        </div>
        <% else %>
        <%= render "shared/empty_resource", message: t('.no_inspections_available') %>
        <% end %>
      </div>
      <%end%>
    </div>
  </div>
