<section id="services" class="services bg-primary-verde">
  <div class="container">
        <h4><%= @inspection.nombre %></h4>
<div style="border: 1px solid white;background-color:white;">
  <table class="table bg-primary-nergro">
    <tbody>
      <tr>
        <td><%= t('.subject') %></td>
        <td><%= @inspection.materia %></td>
      </tr>
      <tr>
        <td><%= t('.period') %></td>
        <td><%= @inspection.duracion %></td>
      </tr>
      <tr>
        <td><%= t('.norm') %></td>
        <td><%= @inspection.norma %></td>
      </tr>
      <tr>
        <td><%= t('.before_tips') %></td>
        <td><%= @inspection.antes %></td>
      </tr>
      <tr>
        <td><%= t('.during_tips') %></td>
        <td><%= @inspection.durante %></td>
      </tr>
      <tr>
        <td><%= t('.after_tips') %></td>
        <td><%= @inspection.despues %></td>
      </tr>
      <tr>
        <td><%= t('.sanctions_tips') %></td>
        <td><%= @inspection.sancion %></td>
      </tr>
    </tbody>
  </table>
</div>



<div class="deck">
  <% if @inspection.requirements.any? %>
    <h4>Requisitos</h4>
    <div style="border: 1px solid white;background-color: white;">
  <table class="table">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th></th>
    </tr>
    <tbody>
      <% @inspection.requirements.each_with_index do |requirement, k| %>
      <tr>
        <td>Paso <%= k+1%>:</td>
        <td class ="bg-primary-nergro"><%= requirement.nombre %></td>
        <td class ="bg-primary-nergro"><%= requirement.descripcion %></td>
        <td ><%=link_to t('.obtener_aqui'), requirement.path , {:style => 'color: #418F61'}%></td>
      </tr>
      <% end %> 
    </tbody>
  </table>
  </div>
<%end%>
</div>

<!-- 
<div class="deck">
  <% #if @inspection.lines.any? %>
    <h4>Giros</h4>
    <div class="table__card">
      <ul>
        <%# @inspection.lines.each do |line| %>
        <li class="tablerow">
          <div class="row  title"><%#= line.nombre %></div>
          <div class="row  subtitle"><%#= line.descripcion %></div>
          <div class="row  footer"></div>
        </li>
        <% #end %>
      </ul>
    </div>
  <% #end %>
</div> -->

</div>
</section>
