<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="row">
      <div class="span12">
        <section id="services ">
          <div class="center-block-margin">
            <div class="container">
              <h4 class="texto-verde"><%= @inspection.nombre %></h4>
              <div style="border: 1px solid white;background-color:white;">
                <table class="table bg-primary-nergro">
                  <tbody>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.subject') %></td>
                      <td><%= @inspection.materia %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.period') %></td>
                      <td><%= @inspection.duracion %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.norm') %></td>
                      <td><%= @inspection.norma %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.before_tips') %></td>
                      <td><%= @inspection.antes %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.during_tips') %></td>
                      <td><%= @inspection.durante %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.after_tips') %></td>
                      <td><%= @inspection.despues %></td>
                    </tr>
                    <tr>
                      <td class="texto-verde-wrap"><%= t('.sanctions_tips') %></td>
                      <td><%= @inspection.sancion %></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <br>
              <br>

              <div class="deck">
                <% if @inspection.requirements.any? %>
                  <h4 class='texto-verde'><%= t('.requisitos') %></h4>
                  <hr class="small">
                    <div class="row text-center ">
                      <div class="col-lg-12">
                        <br>
                        <br>
                        <%= render "shared/carrusel_inspections" %>
                      </div>
                    </div>
                <%end%>
              </div>

                


             

<!-- 
<div class="deck">
  <% #if @inspection.lines.any? %>
    <h4>Giros</h4>
    <div class="table__card">
      <ul>
        <%# @inspection.lines.each do |line| %>
        <li class="tablerow">
          <div class="row  title"><%#= line.nombre %></div>
          <div class="row  subtitle"><%#= line.descripcion %></div>
          <div class="row  footer"></div>
        </li>
        <% #end %>
      </ul>
    </div>
  <% #end %>
</div> -->

</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>

