<h3 class="title"><%= @inspection.nombre %></h3>

<div style="border: 1px solid white;background-color: white;">
  <table class="table">
    <tbody>
      <tr>
        <td>Materia</td>
        <td><%= @inspection.materia %></td>
      </tr>
      <tr>
        <td>Duracion</td>
        <td><%= @inspection.duracion %></td>
      </tr>
      <tr>
        <td>Norma</td>
        <td><%= @inspection.norma %></td>
      </tr>
      <tr>
        <td>Antes</td>
        <td><%= @inspection.antes %></td>
      </tr>
      <tr>
        <td>Durante</td>
        <td><%= @inspection.durante %></td>
      </tr>
      <tr>
        <td>Despues</td>
        <td><%= @inspection.despues %></td>
      </tr>
      <tr>
        <td>Sancion</td>
        <td><%= @inspection.sancion %></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <%#= link_to 'Edit', edit_inspection_path(@inspection) %> | -->
<%#= link_to 'Back', inspections_path %>
