<!DOCTYPE html>
<html>
<head>
  <title>MiNegocio</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
 <body class="info">
  <%= render "shared/navbar_all_menus" %>
  <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
